<div class="w-75 mx-auto py-4">
  <h3>Login Now </h3>
  <form [formGroup]="loginForm" (ngSubmit)="loginData(loginForm)">

    <div *ngIf="apiError"  class="alert alert-danger">{{apiError}}</div>

    <label for="email">Email</label>
    <input formControlName="email" type="text" id="email" class="form-control my-2">
    <div *ngIf="loginForm.get('email')?.errors &&loginForm.get('email')?.touched " class="alert alert-danger ">
      <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">Email is Required</p>
      <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Email is inValid</p>
    </div>

    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" class="form-control my-2">
    <div *ngIf="loginForm.get('password')?.errors &&loginForm.get('password')?.touched "
      class="alert alert-danger ">
      <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">
        Minimum eight characters, at leastone letter, one number and one special character:
      </p>
      <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">password is Required</p>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-info">
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading"> Login</span>
    </button>


  </form>

</div>


